@charset 'utf-8';
main.blog{
    @include fondosEstaticos ($fondos-url: '/imagenes/blog/fondo-blog.jpg');
    min-height: 960px; 

    section.titulo-blog{
        h1{
            font-size: 36px;
            font-weight: 400;
        }
    }

    section.ultimas-noticias{
        a{
            color:  #303030;
        }
        .noticia{
            margin-bottom: 40px;
            .imagen-para-over{
                min-height: 184px;
                background-position: center;
                background-repeat: no-repeat; 
                background-size: cover;
            }
            .imagen{
                margin-top: -184px;
                min-height: 184px;
                transition: all 0.5s;

                &:hover{
                    background:  rgba(255, 0, 0, 0.6) !important;

                    p{
                        opacity: 1;
                    }
                }

                p{
                    font-size: 16px;
                    font-weight: 500;
                    margin: auto;
                    opacity: 0;
                    text-transform: uppercase;
                    transition: all 0.5s;
                }
            }

            
            .descripcion{
                padding: 10px 12px;

                h6{
                    font-size: 14px;
                    font-weight: bold;
                    height: 30px;
                    overflow: hidden;
                    text-transform: uppercase;
                    transition: all 0.5s;
                }

                .resumen{
                    height: 70px;
                    overflow: hidden;
                    p{
                        color:  #303030;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 17px;
                        margin: 0;
                        transition: all 0.5s;
                    }
                }
            }

            &:hover{
                .descripcion{
                    h6{
                        color: $rojo;
                    }

                    .resumen{
                        p{
                            color: $rojo;
                        }
                    }
                }
            }
        }

        .categorias{
            background-color:  rgba(49, 49, 49, 0.6);
            margin-bottom: 40px;
            padding: 10px 0;

            h2{
                font-size: 24px;
                font-weight: 400;
                margin: 0 0 11px 22px;
                text-transform: uppercase;
            }

            ul{
                li{
                    margin-bottom: 15px;
                    transition: all 0.5s;

                    &:hover{
                        background-color: $rojo;

                        a{
                            color: white;
                        }
                    }

                    &.active{
                        background-color: darken($rojo, 10%);
                    }

                    a{
                        color: white;
                        display: block;
                        font-size: 20px;/* Aproximacion debida a la sustitucion de la fuente */
                        font-weight: 200;
                        line-height: 31px;
                        padding: 0 0 0 26px;
                        text-transform: uppercase;
                        transition: all 0.5s;
                    }
                }
            }

            
        }

        .fb-page{
            margin-bottom: 40px;
            margin-top: 40px;
        }
    }

    section.paginacion{
        .row-sinmargen{
            margin-bottom: 0;
        }

        ul.pagination{
            margin-bottom: 20px;
            li{
                display: inline-block;
                text-align: center;
                vertical-align: baseline;
                width: 20px;

                &.disabled{
                    span{
                        color: #545454;
                        font-size: 18px;
                    }
                }

                &.active{
                    background-color: transparent;

                    span{
                        color:$rojo;
                        font-size: 18px; 
                    }
                }

                a{
                    color: #fefefe;
                    font-size: 18px;
                    transition: all 0.5s;

                    &:hover{
                        color: $rojo;
                    } 
                }

                &:last-child{
                    a{
                        &::before{
                            border-bottom: 8px solid transparent;
                            border-left: 17px solid white;
                            border-top: 8px solid transparent;
                            content: '';
                            height: 0;
                            margin-top: 8px;
                            position: absolute;
                            transition: all 0.5s;
                            width: 0;
                        }

                        &:hover{
                            &::before{
                                border-left: 17px solid $rojo;
                            }
                        }
                    }

                    &.disabled{
                        span{
                            &::before{
                                border-bottom: 8px solid transparent;
                                border-left: 17px solid #545454;
                                border-top: 8px solid transparent;
                                content: '';
                                height: 0;
                                margin-top: 6px;
                                position: absolute;
                                width: 0;
                            }
                        }
                    }
                }

                &:first-child{
                    a{
                        &::before{
                            border-bottom: 8px solid transparent;
                            border-right: 17px solid white;
                            border-top: 8px solid transparent;
                            content: '';
                            height: 0;
                            margin-left: -8px;
                            margin-top: 8px;
                            position: absolute;
                            transition: all 0.5s;
                            width: 0;
                        }

                        &:hover{
                            &::before{
                                border-right: 17px solid $rojo;
                            }
                        }
                    }

                    &.disabled{
                        span{
                            &::before{
                                border-bottom: 8px solid transparent;
                                border-right: 17px solid #545454;
                                border-top: 8px solid transparent;
                                content: '';
                                height: 0;
                                margin-left: -6px;
                                margin-top: 6px;
                                position: absolute;
                                width: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}