.animacionTitulo{
    @media #{$large-and-up}{
        opacity: 0;
        transform: translateY(50px);
        transition: all 1s ease-out;

        &.fadeInUp{
            opacity: 1;
            transform: translateY(0px);
        }
    }
}