header{
    .navbar-fixed{
        nav{
            border-bottom: 3px solid #ed1c24;
            box-shadow: none;

            .brand-logo{
                &.blog{
                    img{
                        max-width: 310px;
                    }
                }

                &.intranet{
                    @media (min-width:740px) and (max-width:960px){
                        left: 25%;
                    }
                    
                    img{
                        margin-top: 7px;
                        max-width: 295px;

                        @media (min-width: 360px){
                            max-width: 340px;
                        }
                    }
                }
                
                
                &.pagina-principal{
                    height: 60px;

                    @media (min-width:993px) {
                        height: 80px;
                    }

                    img{
                        margin-top: 5px;
                        max-height: auto;
                        transform: scale(1);
                        transition: all 1s;

                        @media (min-width:993px){
                            &.animacionNav{
                                transform: scale(0.9);
                                max-height: 25px;
                                width: auto;
                            }
                        }

                        /*@media (min-width:993px) and (max-width:1185px) {
                            margin-top: 15px;
                            max-width: 126px;
                        }*/

                        @media (min-width:601px) {
                            margin-top: 10px;

                            &.animacionNav{
                                margin-top:5px;
                            }
                        } 
                    }
                }                
            }

            .menu-intranet{
                @media (min-width:740px) {
                    float: right;
                }

                @media (max-width:740px) {
                    display: block;
                    margin: auto;
                    text-align: center;
                    width: 100%
                }

                ul{
                    @media (max-width:739px) {
                        padding-top: 54px;
                    }

                    li{
                        @media (max-width:739px) {
                            display: block;
                            float: none !important;
                            height: 30px;
                            line-height: 30px;
                        }

                        &:first-child{
                            font: {
                            	size: 18px;
                            	weight: 300;
                            }
                            text-transform: uppercase;

                            strong{
                                font-weight: bold;
                            }
                        }

                        &:last-child{
                            font: {
                            	family: 'Lato', sans-serif;
                            	size: 14px;
                            	weight: normal;
                            }
                            text-transform: uppercase;

                            a{
                                transition: all 0.5s; 
                            }
                            
                            &:hover{
                                a{
                                    color: #ed1c24;
                                }
                            }
                        }
                    }
                }
            }

            .button-collapse{
                transition: all 0.5s;
                &:hover{
                    color: #ed1c24;
                }
            }
            
            .telefono-movil{
                &.blog{
                    @media (max-width: 739px){
                        height: 41px;
                        left: 50%;
                        line-height: 47px;
                        margin: 70px auto auto auto;
                        position: absolute;
                        text-align: center;
                        transform: translateX(-50%);
                        width: 310px;
            
                    }
                    font-size: 18px;
                    font-weight: lighter;
                    line-height: 79px;
                    text-transform: uppercase;
                    transition: all 0.5s;

                    &:hover{
                        color: #ed1c24;
                    }
                    
                    span{
                        font-size: 24px;
                        font-weight: bold;
                        vertical-align: baseline;
                    }
                }
                

                &.pagina-principal{
                    transition: all 0.5s;
                    width: 200px;

                    @media (max-width:600px) {
                        height: 45px;
                        line-height: 45px;
                    }

                    @media (min-width: 740px){
                        float: right;
                        display: block;
                        position: relative;
                    }

                    @media (max-width: 739px){
                        height: 41px;
                        left: 50%;
                        line-height: 47px;
                        margin-top: 70px;
                        position: absolute;
                        transform: translateX(-50%);
                    }

                    &:hover{
                        color: #ed1c24;
                    }

                    i{
                        @media (max-width:600px) {
                            height: 45px;
                        }

                        @media (max-width: 739px){
                            height: 45px;
                            line-height: 51px;
                        }

                        margin-right: 5px;
                    }
                }                
            }
            
            ul.right{
                li{
                    &.blog{
                        span{
                            font-weight: bold;
                            vertical-align: baseline;
                        }
                    }
                    &.pagina-principal{
                        a{
                            background-color: #202020;
                            transition: all 1s;

                            @media (min-width: 993px){
                                &.animacionNav{
                                    line-height: 47px;
                                }
                            }
                            
                            line-height: 64px;

                            span{
                                vertical-align: bottom;
                            }
                        }
                    }

                    &:nth-last-of-type(2){
                        a{
                            @media (min-width:1185px){
                                padding-right: 10px;
                            }
                        }
                    }
                    a{
                        font-size: 16px;
                        font-weight: lighter;
                        line-height: 67px;
                        padding: 0 10px;
                        text-transform: uppercase;
                        transition: all 0.5s;

                        @media (min-width: 993px){
                                &.animacionNav{
                                    line-height: 47px;
                                }
                            }

                        @media (min-width:993px) and (max-width: 1028px){
                            font-size: 17px;
                        }

                       /* @media (min-width:1300px){
                            padding: 0 26px;
                        }*/

                        &:hover{
                            color: #ed1c24;
                        }

                        i.left{
                            margin-right: 5px; 
                        }

                        span{
                            font-size: 18px;
                        }
                    }

                    &.active{
                        a{
                            color: #ed1c24;
                        }
                    }
                }  
            }
            
            ul.side-nav{
                border-right: 2px solid #ed1c24;
                li{
                    a{
                        color: white;

                        img{
                            margin-top: 20px;
                            max-width: 150px;
                        }

                        &:hover{
                            color: #ed1c24;
                        }
                    }

                    &.active{
                        a{
                            color: red;
                        }
                    }
                }
            }
        }
    }

    .menu-secundario{
        min-height: auto;
        
        .row{
            margin-bottom: 0;
        }
        
        a{
            &:hover{
                p{
                    color: #ed1c24;
                    
                    &::after{
                        opacity: 1;
                    }
                }
                
                &.solicita{
                    p{                    
                        &::after{
                            width: 250px;
                        }
                    }
                }
                
                &.encuentra{
                    p{                    
                        &::after{
                            width: 320px;
                        }
                    }
                }
            }
            
            &.solicita{
                p{
                    margin-top: 6px !important;             
                    &::after{
                        left: 38px;
                    }
                }
            }
            
            
            
            &.encuentra{
                p{                    
                    &::after{
                        left: 30px;
                    }
                }
            }
            
            p{
                @media (min-width:601px) {
                    font-size: 20px;
                }
                color: #545454;
                display: block;
                font-size: 17px;
                font-weight: 400;
                margin: 5px 0;
                transition: all 0.5s;
                
                img{
                    margin-right: 20px;
                    vertical-align: bottom;
                }
                
                @media (min-width:601px) {                
                    &::after{
                        background-color: red;
                        content: "";
                        display: block;
                        height: 3px;
                        margin: auto;
                        opacity: 0;
                        position: relative;
                        transition: all 0.5s;
                        width: 0;
                    }
                }
            }
        }
    }
}
