.menu-camiones-fixed{
    position:fixed;
    width: 100%;
    z-index: 9999;
    display: none;
}

section.menu-camiones{
        .row{
            margin-bottom: 0;
        }
        ul{
            height: 95px;
            margin: 0 0;
            overflow-x: auto;
            overflow-y: hidden;
            white-space: nowrap;
            width: 100%;

            li{
                box-sizing: border-box;
                display: inline-block;
                height: 95px;
                min-width: 205px;
                text-align: center-align;
                transition: all 0.5s;
                padding-top: 8px;

                    &::before{
                        border-left: 12px solid transparent;
                        border-right: 12px solid transparent;
                        border-top: 13px solid transparent;
                        content: ' ';
                        display: block;
                        height: 0;
                        margin-left: 95px;
                        margin-top: -8px;
                        position: absolute;
                        transition: all 0.5s;
                        width: 0;
                    }

                &:hover{
                    background-color: #e9e9e9;

                    &::before{
                        border-top: 13px solid $rojo;
                    }

                    a{
                        img{
                            opacity: 1;
                        }

                        p{
                            color: black;

                            &::after{
                                opacity: 1;
                                width: 160px;
                            }
                        }
                    }
                }

                a{
                    text-align: center;

                    img{
                        display: block;
                        height: auto; 
                        margin: auto;
                        max-height: 53px;
                        max-width:109px;
                        opacity: 0.5;
                        transition: all 0.5s;
                        width: auto;
                    }

                    p{
                        color: rgba(black, 0.5) ;
                        font-size: 18px;
                        font-weight: lighter;
                        margin:0;
                        text-transform: uppercase;
                        transition: all 0.5s;

                        &::after{
                            background-color: $rojo;
                            content: "";
                            display: block;
                            height: 2px;
                            margin: auto;
                            opacity: 0;
                            position: relative;
                            transition: all 0.5s;
                            width: 0;
                        }
                    }
                }
                &.active{
                    background-color: #e9e9e9;
                    
                    &::before{
                        border-left: 12px solid transparent;
                        border-right: 12px solid transparent;
                        border-top: 13px solid $rojo;
                        content: ' ';
                        display: block;
                        height: 0;
                        margin-left: 95px;
                        margin-top: -8px;
                        position: absolute;
                        transition: all 0.5s;
                        width: 0;
                    }

                    a{
                        img{
                            opacity: 1;
                        }

                        p{
                            color: black;

                            &::after{
                                opacity: 1;
                                width: 160px;
                            }
                        }
                    }
                }
            }            
        }
    }